<!-- forgot_password.html -->

{% extends 'poll/base.html' %}

{% block content %}
<div class="text-center">
    <h3>Forgot Password</h3>
</div>
<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5"
             style="border-radius: 25px; width: 30vw; height: 60vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
             font-size: 1.4vw;">
            <form method="post">
                {% csrf_token %}
                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
                <label for="username" class="my-4">Username:</label><br>
                <input type="text" id="username" name="username" required><br><br>
                <input type="submit" value="Send OTP" class="btn btn-primary my-3"
                       style="font-size: 1.4vw;">
            </form>
        </div>
    </div>
</div>
{% endblock %}
